/*
Logo Colors:
PoC Green = #93C34C (Yellow Green)
PoC Gray = #5B5B5C (Slate Gray)

Complimenting Colors:
#749454 (Dark Olive Green)
#656F54 (Dim Gray)
/*

/*Bootstrap Overloads*/
.nav-link{
    color:#5B5B5C !important;
}
.nav-link:hover{
    color: #93C34C !important;
}
.dropdown-item:hover{
    color: #93C34C !important;
}

/*Global Overloads*/
body{
    /* overflow-x: hidden; */
}
html{
    scroll-behavior: smooth;
}

/*Custom CSS Classes*/
.key-word{
    color: #93C34C;
    font-style: italic;
}
.featurette-dividers{
    border-top: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
}
.parallax-drinks{
    background-image: url("./assets/multiple-drinks4.JPG");
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-logo{
    background-image: url("./assets/indoor-logo.JPG");
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-title{
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
}
.drink-display{
    object-fit: contain;
    height: 35vh;
    transition: all 2.5s;
}
.carousel-img{
    object-fit: cover;
    height: 90vh;
    transition: all 2.5s;
    /* opacity: 0.6; */
}
.no-opacity{
    opacity: 0;
}

/*Custom CSS IDs*/
#logo{
    max-width: 7em;
}
#drink-carousel{
    height: 90vh;
    background-color: black;
}
#logo-text{
    color: #5B5B5C;
}
#mission-statement-row{
    height: 60vh;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 1.2em;
}
#about-us-row{
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}
#footer{
    height: 10vh;
    width: 100%;
    font-size: 0.8em;
    background-color: white;
    text-align: center;
    border-top: solid lightgray 1px;
}
#view-drinks-btn{
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 70%;
    background-color: red;
    border-color: red;
    color: white;
    font-size: 1.2em;
    transition: all 2.5s;
}
#view-drinks-btn:focus{
    box-shadow: none;
}

.landing-page-text-container{
    background-color: rgb(128, 128, 128, 0.2);
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 1.5em;
    align-items: center;
}

#landing-page-text{
    color: white;
    font-weight: bold;
    transition: all 2.5s;
    padding-left: 2rem
}
#catch-phrase{
    font-style: italic;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    transition: all 2.5s;
}
#drink-display-row{
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5vh;
}

/*Screen Size Breakpoints*/
@media (min-width: 768px) {
    #about-us-row{
        height:75vh;
    }
    #landing-page-text{
        font-size: 2em;
        top: 55%;
        margin: 5rem;
    }
    #catch-phrase{
        font-size:1.5rem;
    }
}